<!DOCTYPE html>
{% load static %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'project/css/bootstrap.css' %}"
    />

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="title">
        <h1>Welcome! </h1>
        {% if total_projects == 0 %}
            <p>There are currently no projects to display</p>
        {% else %}
            <table>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
                   {% for project in all_projects %}
                       <tr>
                            <td>{{ project.title }}</td>
                            <td>{{ project.description }}</td>
                       </tr>
                   {% endfor %}
            </table>
        {% endif %}
    <p>Project Count: {{ total_projects }}</p>
    </div>
    <button onclick="location.href = '/project/new/'">Create a new project</button>
</body>
</html>