<!DOCTYPE html>
{% load static %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'project/css/bootstrap.css' %}"
    />

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class = "d-flex justify-content-center">
        <h1>Welcome! </h1>
    </div>

    <div class=" d-flex justify-content-center title ">

        {% if total_projects == 0 %}
            <p>There are currently no projects to display</p>
        {% else %}
            <table>
                <tr>
                    <th>Title</th>
                    <th>Description</th>

                </tr>
                   {% for project in all_projects %}
                       <tr>
                            <td>{{ project.title }} </td>
                            <td>{{ project.description }}</td>
                            <td>
                                <a href='/project/show/id/{{ project.id }}'>View</a>
                            </td>
                            <td>
                                <a href="/project/delete/id/{{ project.id }}">Delete</a>
                            </td>

                       </tr>
                   {% endfor %}
            </table>
        {% endif %}
    </div>

    <div class = "d-flex justify-content-center">
        <p>Project Count: {{ total_projects }}</p>
    </div>
    <div class = "d-flex justify-content-center">
        <a href='/project/new/'>Create New Project</a>
    </div>
</body>
</html>